.App {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #dad;
}

.default {
  background-color: #afa;
}

.dark {
  background-color: #333;
}

.task-13 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-self: stretch;
  flex-wrap: wrap;
  min-width: 50%;
  min-height: 50%;
}